{% extends 'dashboard/base.html' %}

{% block title %} Courses {% endblock %}

{% block content %}

{% load static %}

<div class="mb-5 header">
    <h2 class="faculty_glyphic_bold">Manage Courses</h2>

</div>

<a href="{% url 'dashboard:add_course_view' %}">
    <button class="mt-5 btn btn-primary">Add Course</button>
</a>

<div class="mt-2 table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Category</th>
                <th>About</th>
                <th>Description</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>
                        <img src="{{ course.image.url }}" class="img">
                    </td>
                    <td>{{course.title}} </td>
                    <td>{{course.get_category_display}} </td>
                    <td>{{course.about}} </td>
                    <td>{{course.description}} </td>
                    <td>{{course.created_at}} </td>
                    <td>
                        <a href="{% url 'dashboard:update_course_view' course.id %}">
                            <button class="btn btn-info btn-sm">Update</button>
                        </a>
                        <a href="{% url 'dashboard:delete_course_view' course.id %}" class="btn btn-danger" 
                        onclick="return confirm('Are you sure you want to delete course {{ course.title }}?');">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}