{% extends 'dashboard/base.html' %}

{% block title %} Update Interest {% endblock %}

{% block content %}

{% load static %}

<div class="main_add">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <h3 class="faculty_glyphic_bold">Update {{interest.title}}</h3>
                </div>
                <form class="d-flex flex-column" action="{% url 'dashboard:update_interest_view' interest.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Interest Title</h4>
                    <input type="text" name="title" placeholder="Title" class="form-control" value="{{interest.title}}"/>
                    
                    <h4 class="mt-4">Description Of The Interest</h4>
                    <textarea name="description" class="form-control" style="height: 150px;">
                        {{interest.description}}   
                    </textarea>

                    <div class="row">
                        <div class="col-3">
                            <img src="{{interest.image.url}}" class="w-100" />
                        </div>
                        <div class="col">
                            <h4 class="mt-4">A Poster Image</h4>
                            <input type="file" name="image" class="form-control" accept="image/*"/>
                        </div>
                    </div>

                    <input class="mt-4 btn btn-primary" type="submit" value="Update"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}