body {
    padding: 0;
    margin: 0;
    display: flex;
    /* min-height: 100vh; */

    font-family: "Faculty Glyphic", serif;
    font-weight: 500;
    font-style: normal;

    color: #2F3C7E;
    /* margin-left: 3rem;
    margin-right:3rem; */
}

nav {
    height: 250vh;
    background-color: #EDF4F2;
    padding: 20px;
    border-right: 1px solid #dee2e6;
}

nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
    /* border-radius: 0.25rem; */
}

nav h4 {
    color: #2F3C7E;
    margin: 0;
}

main {
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
}

header {
    margin-bottom: 20px;
}

.main_add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.faculty_glyphic_bold{
    font-weight: 1000;
    font-size: 45px;
}  

.img {
    width: 75px; 
    height: auto; 
    object-fit: cover; 
}