body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;

    /* margin-left: 3rem;
    margin-right:3rem; */
    /* background-color: #faff678e; */
    /* color: #2F3C7E; */
    /* background-color:tan; */
    /* color: rgb(90, 68, 39); */
    background-color: #EDF4F2;
    /* color: #31473A; */
    color: #375242;
}

.phudu {
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 1.5rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    /* color: #2F3C7E; */

    margin-left: 3rem;
    margin-right:3rem;
}
nav h1 {
    font-weight: 800;
    font-size: 35px;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    margin-right: 6rem;
    font-size: 18px;
}

nav div a {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #375242;
}

nav div button {
    background-color:#31473A;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
}

footer {
    height: 60px;
    /* background-color: #fdffcd; */
    padding-left: 40px;
    padding-right: 40px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main_home {
    display: flex;
    flex-direction: column;
    /* align-items: first baseline; */
    /* flex-grow: 1; */
    margin-top:9rem;
    width: 100%;
    /* color: #2F3C7E; */
    /* background-color: #EDF4F2; */
    /* text-align: center; */
}

.main_projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:9rem;
    width: 100%;
}

.main_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:9rem;
    /* background-color: #ffedab; */
    width: 100%;
}

.text_shadow {
    text-shadow: 1.5px 1.5px;
}

.text_shadow {
    text-shadow: 1.5px 1.5px;
}

.faculty_glyphic {
    font-weight: 500;
    font-size: 25px;
}

.faculty_glyphic_home {
    font-weight: 500;
    font-size: 30px;
    /* text-shadow: 0.5px 0.5px; */
}

.faculty_glyphic_h1{
    font-weight: 1000;
    font-size: 110px;
}  

.faculty_glyphic_h1_title{
    font-weight: 1000;
    font-size: 80px;
} 

.faculty_glyphic_h2_title{
    font-weight: 1000;
    font-size: 45px;
}  

.faculty_glyphic_h2_subtitle {
    font-weight: 1000;
    font-size: 35px;
}

.faculty_glyphic_h3_subtitle {
    font-weight: 600;
    font-size: 25px;
}

.img-fluid {
    width: 100%; 
    /* height: auto;  */
}

.text-content {
    padding: 1rem; 
    display: flex;
    align-items: center; 
    text-align: center;
}

.text-content p {
    line-height: 2; 
}

.image-content {
    padding: 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.image-content img {
    max-height: 100%; 
    height: auto; 
    /* width: auto;  */
    min-height: 300px; 
    object-fit: cover;
    /* border-radius: 15px;  */
}

.line {
    width: 75%; 
    height: 2px; 
    background-color: #31473A; 
    margin: 20px 0;
}

.background_c {
    /* background-color: #d6dcdb; */
    background-color: #EDF4F2;
}

.background_c2 {
    background-color: #6f8b7a51;
}

.background_dp {
    background-color: #6f8b7a51;
    width: 100%;
}

.background_c3 {
    background-color: #6f8b7a9a;
}

.background_c4 {
    background-color: #95a4a0a2;
}

.home_content {
    margin: 0 auto;
    padding: 20px;
}

.home_section {
    margin: 0 auto;
    padding: 20px;
    width: 75%;
    border-radius: 90px;
    background-color: #31473A;
}

.university_section {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    /* border-radius: 90px; */
    background-image: url("/static/images/university.png");
    /* background-repeat: no-repeat; */
    /* box-shadow: 4px 4px 4px #373823; */
    /* background-color: #fbff92; */
}

.projects_header {
    margin: 0;
    /* padding: 20px; */
    width: 100%;
    height: 350px;
    background-image: url("/static/images/AI_m3.png");
    background-repeat: repeat-x;
}

/* .projects_title {
    background-image: url("/static/images/title_back.png");
    padding: 40px;
} */

.project_background_c1 {
    background-color: #6f8b7a9a;
}

.project_background_c1 p{
    color: #2e4739dd;
}

.project_background_c1 h3:hover {
    color:#5f6564;
}

.project_background_c2 {
    /* background-color: #95a4a0a2; */
    background-color: #6f8b7ab7;
}

.project_background_c2 p {
    color:#31473add;
}

.project_background_c2 h3:hover {
    color:#4a7c5f;
}

.project {
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.02); 
}


.project img {
    width: 100%;
    max-height: 700px;
    height: auto; 
    object-fit: cover;
}

.project p {
    font-weight: 600;
    font-size: 25px;
    line-height: 2;
}

.main_events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:9rem;
    width: 100%;
}

.event_background_c1 {
    /* background-color: #6f8b7a9a; */
    background-color: #EDF4F2;
}

.event {
    height: 900px; 
    overflow: hidden;
    border: 5px solid #375242;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* position: relative; */
}

.event:hover {
    transform: scale(1.02); 
    box-shadow: 8px 8px #578468;
}

.event img {
    width: 100%;
    height: 430px;
    transition: transform 0.3s ease;
    /* object-fit: contain; */
}

.event:hover img {
    transform: scale(0.98);
}

.event p {
    font-weight: 500;
    font-size: 21px;
    line-height: 2;
}

.detail {

}

.faculty_glyphic_h3_title{
    font-weight: 1000;
    font-size: 45px;
}  

.faculty_glyphic_h2 {
    font-weight: 1000;
    font-size: 60px;
}

.detail img {
    /* width: auto; */
    height: 500px;
    transition: transform 0.5s ease;
    /* object-fit: contain; */
}

.detail img:hover {
    transform: scale(1.02);
}

.detail p {
    font-weight: 500;
    font-size: 25px;
    line-height: 2;
    text-align: justify;
}

.detail .Benefits li{
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
    text-align: justify;
}

.detail h2 {
    transition: transform 0.3s ease;
}

.detail h3 {
    transition: transform 0.3s ease;
}

.detail h3:hover {
    color:#4a7c5f;
    transform: scale(1.02);
}

.detail h2:hover {
    color:#38624a;
    transform: scale(1.02);
}

.Benefits {
    margin-left: 15px;
}

.key_benefits {
    /* overflow: hidden; */
    border: 6px solid #375242;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    padding: 20px;
    padding-bottom: 0;
    background-color: #6f8b7a51;
}

.key_benefits:hover {
    transform: scale(1.02); 
    box-shadow: -10px -10px #578468;
    background-color: #EDF4F2;
}


.detail_project {

}

.detail_project img {
    height: 600px;
    transition: transform 0.5s ease;
    /* object-fit: contain; */
}

.project_bottom_box {
    border: 6px solid #375242;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: #EDF4F2;
    border-radius: 13px;
}

@media (max-width: 992px) {

    .event {
        height: auto; 
    }

    .event img {
        height: auto;
    }

    .faculty_glyphic_h1 {
        font-size: 90px;
    }

    .faculty_glyphic_h2_title {
        font-size: 35px;
    }

    .faculty_glyphic_h2 {
        text-align: center;
    }

    .project p {
        font-weight: 500;
        font-size: 22px;
    }

    nav h1 {
        font-size: 25px;
    }

    nav div {
        gap: 1;
        margin-right: 3rem;
    }

    nav {
        margin-left: 1rem;
    }

    nav div a {
        font-size: 15px;
    }

    .faculty_glyphic_home, .faculty_glyphic {
        font-size: 25px;
    }

    .d-flex {
        flex-direction: column; 
    }

    .text-content {
        text-align: center; 
    }

    .image-content img{
        width: 70%;
    }

    .line {
        width: 95%; 
    }

    .detail img {
        width: 100%;
        height: auto;
        /* object-fit: contain; */
    }
}

