body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;

    /* margin-left: 3rem;
    margin-right:3rem; */
    /* background-color: #faff678e; */
    /* color: #2F3C7E; */
    /* background-color:tan; */
    /* color: rgb(90, 68, 39); */
    background-color: #EDF4F2;
    /* color: #31473A; */
    color: #346046;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 1.5rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    /* color: #2F3C7E; */

    margin-left: 3rem;
    margin-right:3rem;
}
nav h1 {
    font-weight: 800;
    font-size: 35px;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    margin-right: 6rem;
    font-size: 18px;
}

nav div a {
    font-size: 20px;
}

nav a:hover {
    transform: scale(1.05);
    color:#488a64;

}

a {
    text-decoration: none;
    color: #375242;
}

nav div button {
    background-color:#31473A;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

main {
    min-height: 60vh;
    margin-top: 9rem;
}

footer {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

footer a:hover {
    transform: scale(1.05);
}

footer h2:hover {
    color:#488a64;
}

.typing {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.main_home {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: first baseline; */
    /* flex-grow: 1; */
    /* margin-top:9rem; */
    width: 100%;
    /* color: #2F3C7E; */
    /* background-color: #EDF4F2; */
    /* text-align: center; */
}

.main_projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:9rem;
    width: 100%;
}

.main_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:9rem;
    /* background-color: #ffedab; */
    width: 100%;
}

.text_shadow {
    text-shadow: 1.5px 1.5px;
}

.text_shadow {
    text-shadow: 1.5px 1.5px;
}

.spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
  }

  .spicy-rice-subtitle {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
  }

.spicy-rice-title {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
}

.spicy-rice-heading {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 120px;
    font-style: normal;
}

.faculty_glyphic {
    font-weight: 500;
    font-size: 25px;
}

.faculty_glyphic_home {
    font-weight: 500;
    font-size: 30px;
    /* text-shadow: 0.5px 0.5px; */
}

.faculty_glyphic_h1{
    font-weight: 1000;
    font-size: 110px;
}  

.faculty_glyphic_h1_title{
    font-weight: 1000;
    font-size: 80px;
} 

.faculty_glyphic_h2_title{
    font-weight: 1000;
    font-size: 45px;
}  

.faculty_glyphic_h2_subtitle {
    font-weight: 1000;
    font-size: 35px;
}

.faculty_glyphic_h3_subtitle {
    font-weight: 600;
    font-size: 25px;
}

.img-fluid {
    width: 100%; 
    /* height: auto;  */
}

.find_more:hover {
    color:#488a64;
    transform: scale(1.05);
}

.hover_events:hover {
    color:#488a64;
    transform: scale(1.05);
}

@keyframes moveInterestText {
    0% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

@keyframes moveInterestImage {
    0% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

@keyframes moveHeadingOut {
    0% {
        opacity: 0; 
        transform: scale(0.5); 
    }
    100% {
        opacity: 1;
        transform: scale(1.2); 
    }
}


.move_heading h1{
    opacity: 0; 
    transform: scale(0.5); 
    animation: moveHeadingOut 1.2s ease forwards;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.move_heading:hover {
    color:#488a64;
    transform: scale(1.03);
}

.image-content {
    opacity: 0; 
    transform: translateX(100%); 
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards; 
}

.text-content {
    padding: 1rem; 
    display: flex;
    align-items: center; 
    text-align: center;
}

.text-content p {
    line-height: 2; 
}

.image-content {
    padding: 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    animation-name: moveInterestImage;
}

.image-content img {
    max-height: 100%; 
    height: auto; 
    /* width: auto;  */
    min-height: 300px; 
    object-fit: cover;
    /* border-radius: 15px;  */
}

.line {
    width: 75%; 
    height: 2px; 
    background-color: #3e695088; 
    margin: 20px 0;
}

.education-content {
    transition: transform 0.7s ease-in-out, background-color 0.7s ease-in-out, border 0.7s ease-in-out;
}

.education-content:hover {
    transform: scale(1.03);
    background-color: #EDF4F2;
    border: 6px solid #375242;
    text-align:start
}

.education-content p{
    line-height: 2; 
    text-align: justify;
}

.education_title h2, .education_title h3 {
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.education_title h2:hover {
    color:#488a64;
    transform: scale(1.03);
}

.education_title h3:hover {
    color:#338756;
    transform: scale(1.09);
}

.university_section {
    margin: 0;
    padding: 20px;
    width: 100%;
    background-image: url("/static/images/university.png");
    background-repeat: repeat;
    background-size:auto;
    background-color: #476f564a;
}

.skills_part .skills li{
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
}

.skills_part h2 {
    transition: transform 0.3s ease;
}

.skills_part h3 {
    transition: transform 0.3s ease;
}

.skills_part h3:hover {
    color:#4a7c5f;
    transform: scale(1.02);
}

.skills_part h2:hover {
    color:#38624a;
    transform: scale(1.02);
}

.skills {
    margin-left: 15px;
}


.background_c {
    /* background-color: #d6dcdb; */
    background-color: #EDF4F2;
}

.background_c2 {
    background-color: #476f5663;
}

.background_details {
    background-color: #476f5663;
    width: 100%;
}

.background_c3 {
    /* background-color: #6f8b7a9a; */
    background-color: #1f6e3f70;
}

.background_c4 {
    /* background-color: #95a4a0a2; */
    background-color: #83b2a6a2;
}

.home_content {
    margin: 0 auto;
    padding: 20px;
}

.home_section {
    margin: 0 auto;
    padding: 20px;
    width: 75%;
    border-radius: 90px;
    background-color: #31473A;
}


@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.projects_header {
    margin: 0;
    width: 100%;
    height: 350px;
    background-image: url("/static/images/AI_m3.png");
    background-repeat: repeat-x;
    animation: moveBackground 1s ease-in-out forwards;
}

.events_header {
    margin: 0;
    width: 100%;
    height: 350px;
    background-image: url("/static/images/learning.png");
    background-repeat: repeat-x;
    animation: moveBackground 1s ease-in-out forwards;
}

@keyframes moveTextRight {
    0% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}

.move_title {
    animation: moveTextRight 1s ease-in-out forwards;
    position: relative;
    opacity: 0;
}


.project_background_c1 {
    background-color: #1f6e3f70;
}

.project_background_c1 h3:hover {
    color:#4a7c5f;
}

.project_background_c2 {
    background-color: #83b2a6a2;
    /* background-color: #6f8b7ab7; */
}

.project_background_c2 h3:hover {
    color:#4a7c5f;
}

.project {
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.02); 
}


.project img {
    width: 100%;
    max-height: 700px;
    height: auto; 
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project_home_page {

}

.project_home_page img{
    height: 500px;
}

.project_home_page h3{
    font-size: 40px;
}

.project p {
    font-weight: 500;
    font-size: 25px;
    line-height: 2;
}

.main_events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:9rem;
    width: 100%;
}

.event_background_c1 {
    /* background-color: #6f8b7a9a; */
    background-color: #EDF4F2;
}

.event {
    height: 900px; 
    overflow: hidden;
    border: 6px solid #375242;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: #70ac7d68;
}

.event h3:hover {
    transform: scale(1.02); 
    color:#4a7c5f;
}

.event:hover {
    transform: scale(1.02); 
    box-shadow: 9px 9px #578468;
    background-color: #EDF4F2;
}

.event img {
    width: 100%;
    height: 430px;
    transition: transform 0.3s ease;
    /* object-fit: contain; */
}

.event:hover img {
    transform: scale(0.98);
}

.event p {
    font-weight: 500;
    font-size: 21px;
    line-height: 2;
}

.faculty_glyphic_h3_title{
    font-weight: 1000;
    font-size: 45px;
}  

.faculty_glyphic_h2 {
    font-weight: 1000;
    font-size: 60px;
}

.detail img {
    /* width: auto; */
    height: 500px;
    transition: transform 0.5s ease;
    /* object-fit: contain; */
}

.detail img:hover {
    transform: scale(1.02);
}

.detail p {
    font-weight: 500;
    font-size: 25px;
    line-height: 2;
    text-align: justify;
}

.detail .Benefits li{
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
    text-align: justify;
}

.detail h2 {
    transition: transform 0.3s ease;
}

.detail h3 {
    transition: transform 0.3s ease;
}

.detail h3:hover {
    color:#4a7c5f;
    transform: scale(1.02);
}

.detail h2:hover {
    color:#38624a;
    transform: scale(1.02);
}

.Benefits {
    margin-left: 15px;
}

.key_benefits {
    /* overflow: hidden; */
    border: 6px solid #375242;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    padding: 20px;
    padding-bottom: 0;
    background-color: #6f8b7a51;
}

.key_benefits:hover {
    transform: scale(1.02); 
    box-shadow: -10px -10px #578468;
    background-color: #EDF4F2;
}

.detail_project img {
    height: 600px;
    transition: transform 0.5s ease;
    /* object-fit: contain; */
}

.project_bottom_box {
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    /* background-color: #EDF4F2; */
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 33px;
}

.project_bottom_box:hover {
    transform: scale(1.02); 
    border: 6px solid #375242;
    box-shadow: -7px 7px #578468;
    background-color: #edf4f2;
    color: #31473A;
}

.project:hover img{
    transform: scale(0.98); 
}

.project img:hover{
    transform: scale(1); 
}

@media (max-width: 992px) {

    .spicy-rice-heading {
        font-size: 80px;
    }

    .spicy-rice-subtitle {
        font-size: 45px;
    }

    .spicy-rice-title {
        font-size: 60px;
    }

    .event {
        height: auto; 
    }

    .event img {
        height: auto;
    }

    .faculty_glyphic_h1 {
        font-size: 90px;
    }

    .faculty_glyphic_h2_title {
        font-size: 33px;
    }

    .faculty_glyphic_h2 {
        font-size: 50px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 0;
    }

    .faculty_glyphic_h2_subtitle {
        font-size: 30px;
    }

    .faculty_glyphic_h3_subtitle {
        font-size: 20px;
    }

    .education-content p {
        font-size: 20px;
    }

    .project p {
        font-weight: 500;
        font-size: 22px;
    }

    nav h1 {
        font-size: 25px;
    }

    nav div {
        gap: 1;
        margin-right: 3rem;
    }

    nav {
        margin-left: 1rem;
    }

    nav div a {
        font-size: 15px;
    }

    .faculty_glyphic_home, .faculty_glyphic {
        font-size: 25px;
    }

    .d-flex {
        flex-direction: column; 
    }

    .text-content {
        text-align: center; 
    }

    .image-content img{
        width: 70%;
    }

    .line {
        width: 95%; 
    }

    .detail img {
        width: 100%;
        height: auto;
        /* object-fit: contain; */
    }
}




