{% extends 'main/base.html' %}

{% block title %} Osama's Education {% endblock %}

{% block content %}

{% load static %}

<div class="main_home faculty_glyphic">
    <div class="d-flex flex-column align-items-center mb-5">
        <div class="move_heading col-12 col-md-8 col-lg-8 text-center">
            <h1 class="spicy-rice-title text_shadow">I Am Osama bin Khunaizan</h1>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-5 p-5 university_section ">
        <div class="text-content text-start col-12 col-lg-8">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="row">
                    <h2 class="faculty_glyphic_h2_title text-center">I am a King Saud University Bachelor's student</h2>
                </div>
                <div class="row">
                    <p class="text-center">From College of Computer and Information Sciences
                        In Computer Science Department in Riyadh
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="education_title d-flex flex-column justify-content-center align-items-center mt-5  gap-5">
        <div class="d-flex flex-column justify-content-start align-items-start col-10">
            <h2 class="spicy-rice-subtitle text-sm-center">College Elective Courses Overview</h2>
            <!-- <h3 class=" faculty_glyphic_h3_subtitle text-sm-center">
                At university, I focused on elective courses that aligned with my field interest.
            </h3> -->
        </div>
    </div>

        <div class="mt-4 background_details d-flex flex-column justify-content-center align-items-center pt-4 pb-4 p-sm-4">
            <div class="d-flex flex-column justify-content-start align-items-start col-10 col-lg-10 gap-sm-4">
                <h3 style="line-height: 2;" class=" faculty_glyphic_h3_subtitle text-sm-center">
                    At university, I focused on elective courses that aligned with my field interest.
                </h3>
            </div>
        </div>

    <div class="education_title d-flex flex-column justify-content-center align-items-center p-5  gap-5">

        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-baseline gap-5">
            <div class="align-self-sm-center align-self-md-center education-content text-start col-11 col-lg-5 p-5 background_c4 shadow-lg rounded-5 ">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle">Machine Learning CSC-462</h2>
                    <p class="">
                        In this course,
                         I focused on the practical aspects,
                          which I found enjoyable.
                           We worked on various projects,
                            implementing algorithms and models to solve real-world problems.
                            I learned about supervised and unsupervised learning,
                             as well as techniques such as support vector machines,
                              neural networks,
                               and ensemble methods.
                                The course covered gradient descent,
                                 cluster analysis,
                                  and dimensionality reduction.
                                   Additionally,
                                    I explored essential skills in feature engineering and hyperparameter tuning through various hands-on projects.
                    </p>
                </div>
            </div>

            <div class="align-self-sm-center align-self-md-center education-content text-start col-11 col-lg-5 p-5 background_c3 shadow-lg rounded-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle">Software Testing SWE-434</h2>
                    <p class="">
                        This course covered the main concepts, 
                         tools, and techniques related to software testing.
                          I learned about the importance of software validation and verification,
                           as well as how to develop test plans,
                            test scripts,
                             and test cases.
                            We focused on black-box and white-box testing techniques including various types of testing such as unit,
                               and functional testing.
                                  We explored techniques like equivalence partitioning and path testing,
                                   and examined integration and system testing.
                                      The course emphasized testing within an Agile development environment.
                    </p>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-baseline gap-5">
            <div class="align-self-sm-center align-self-md-center education-content text-start col-11 col-lg-5 p-5 background_c3 shadow-lg rounded-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle text-center mb-3">Information Retrieval CSC484</h2>
                    <p class="">
                        I took a course on information retrieval methods,
                         learning how to improve searches for specific items on a website,
                          related to LLMs. We explored different algorithms for indexing and searching,
                           and I conducted experiments to analyze the effectiveness of various retrieval techniques.
                            This course not only provided a theoretical foundation but also practical skills in optimizing search engines and understanding user behavior.
                    </p>
                </div>
            </div>

            <div class="align-self-sm-center align-self-md-center education-content text-start col-11 col-lg-5 p-5 background_c4 shadow-lg rounded-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle text-center mb-3">Technical Project Management CSC443</h2>
                    <p class="">
                        In this course I learned how to manage scope, time, and cost effectively.
                         The course covered essential methodologies like Agile and Waterfall,
                          and we applied these concepts in a group project. This experience allowed me to practice planning,
                           executing, and monitoring projects, while also developing my leadership abilities.
                            I gained insights into budget management,
                             which are crucial for successful project delivery in technical environments.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 d-flex flex-column justify-content-center align-items-center background_details pt-4 pb-4">
        <div class="skills_part d-flex flex-column justify-content-center align-items-center col-10 col-lg-10 gap-sm-4">
                <div class="d-flex flex-column ">
                    <h3 class="faculty_glyphic_h3_title mb-4 text-start">
                        Skills
                    </h3>
                    <ul class="skills d-flex flex-row flex-wrap justify-content-between align-items-baseline gap-5 p-2">
                        <div class="col">
                            <li>Programming</li>
                            <ul>
                                <li >
                                    Java Programming
                                </li>
                                <li >
                                    Python Programming
                                </li>
                                <li >
                                    Django Framework
                                </li>
                                <li >
                                    Object Oriented Programming
                                </li>
                                <li>
                                    HTML/CSS
                                </li>
                                <li>
                                    Flutter Dart
                                </li>
                            </ul>
                        </div>

                        <div class="col">
                            <li >
                                Machine Learning
                            </li>
                            <ul>
                                <li >
                                    Regression
                                </li>
                                <li >
                                    Classification 
                                </li>
                                <li >
                                    Clustering
                                </li>
                                <li>
                                    Anomaly Detection
                                </li>
                                <li>
                                    Neural Networks
                                </li>
                            </ul>
                        </div>

                        <div class="col">
                            <li>Other Skills</li>
                                <ul>
                                    <li>
                                        Git-GitHub
                                    </li>
                                    <li>
                                        Cloud Computing
                                    </li>
                                    <li>
                                        SQL Databases
                                    </li>
                                    <li>
                                        Microsoft Applications
                                    </li>
                                </ul>
                        </div>

                        </div>
                    </ul>
                </div>
        </div>
    </div>


</div>

{% endblock %}