{% extends 'main/base.html' %}

{% block title %} About Osama {% endblock %}

{% block content %}

{% load static %}

<div class="main_home faculty_glyphic ">
    <div class="d-flex flex-column align-items-center mb-5">
        <h1>Hi!</h1>
        <h1>I Am Osama</h1>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-5 background_c home_content">
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5">
            <div class="text-content col-12 col-lg-5">
                <p class="">
                    I’m a web developer who loves working on both the front-end and back-end of websites.
                    I enjoy creating web applications and designing user-friendly pages
                    that provide a great experience for visitors.
                    And making sure my designs work well on all devices.
                </p>
            </div>

            <div class="image-content  col-12 col-lg-2">
                <img class="rounded-3 img-fluid" src="{% static 'images/web_d2.png' %}">
            </div>
        </div>
        
        <div class="line"></div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mb-5 background_c2 home_content">
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5">
            <div class="text-content col-12 col-lg-5">
                <p class="">
                    I am also passionate about data science and analysis, particularly in the realm of machine learning applications.
                    Much of my work focuses on machine learning,
                     where I delve into data science and analysis to develop intelligent applications.
                      I enjoy uncovering insights from data and employing algorithms to create impactful,
                       data-driven solutions.
                </p>
            </div>

            <div class="image-content  col-12 col-lg-2">
                <img class="rounded-3 img-fluid" src="{% static 'images/AI_m2.png' %}">
            </div>
        </div>
        
        <div class="line"></div>
    </div>

    <!-- <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row align-items-start">
            <div class="text-content text-start col-12 col-lg-8">
                <div class="row">
                    <h2 class="m-0 p-0">I Am a King SAUD University Bachelor's Gradute</h2>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center">
            <div class="text-content text-start col-12 col-lg-8">
                <div class="row">
                    <p>From College of Computer and Information Sciences
                        In Computer Science Department
                        Living in Riyadh
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row align-items-start">
        <div class="text-content text-start col-12 col-lg-8">
            <div class="d-flex flex-column">
                <div class="row">
                    <h2>I Am a King SAUD University Bachelor's Gradute</h2>
                </div>
                <div class="row">
                    <p>From College of Computer and Information Sciences
                        In Computer Science Department in Riyadh
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div class="d-flex flex-column justify-content-center align-items-center mt-5 p-5 home_section gap-5 shadow">
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5">
            <div class="text-content text-start col-12 col-lg-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_title mb-5">EDUCATION</h2>
                    <ul>
                        <li>
                            <p>KING SAUD UNIVERSITY</p>
                        </li>
                        <li>
                            <p>College of Computer and Information Sciences</p>
                        </li>
                        <li>
                            <p>Bachelor's degree in Computer Science</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="text-content text-start col-12 col-lg-5">
                <p class="">
                    I am also passionate about data science and analysis, particularly in the realm of machine learning applications.
                    Much of my work focuses on machine learning,
                     where I delve into data science and analysis to develop intelligent applications.
                      I enjoy uncovering insights from data and employing algorithms to create impactful,
                       data-driven solutions.
                </p>
            </div>
        </div>

        <div class="line"></div>

        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5">
            <div class="text-content text-start col-12 col-lg-5">
                <p class="">
                    I am also passionate about data science and analysis, particularly in the realm of machine learning applications.
                    Much of my work focuses on machine learning,
                     where I delve into data science and analysis to develop intelligent applications.
                      I enjoy uncovering insights from data and employing algorithms to create impactful,
                       data-driven solutions.
                </p>
            </div>

            <div class="text-content text-start col-12 col-lg-5">
                <p class="">
                    I am also passionate about data science and analysis, particularly in the realm of machine learning applications.
                    Much of my work focuses on machine learning,
                     where I delve into data science and analysis to develop intelligent applications.
                      I enjoy uncovering insights from data and employing algorithms to create impactful,
                       data-driven solutions.
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}