{% extends 'main/base.html' %}

{% block title %} About Osama {% endblock %}

{% block content %}

{% load static %}

<div class="main_home faculty_glyphic ">
    <div class="d-flex flex-column align-items-center mb-5">
        <h1>Hi!</h1>
        <h1>I Am Osama</h1>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-5 background_c home_content">
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5">
            <div class="text-content col-12 col-lg-5">
                <p class="">
                    I’m a web developer who loves working on both the front-end and back-end of websites.
                    I enjoy creating web applications and designing user-friendly pages
                    that provide a great experience for visitors.
                    And making sure my designs work well on all devices.
                </p>
            </div>

            <div class="image-content  col-12 col-lg-2">
                <img class="rounded-3 img-fluid" src="{% static 'images/web_d2.png' %}">
            </div>
        </div>
        
        <div class="line"></div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mb-5 background_c2 home_content">
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5">
            <div class="text-content col-12 col-lg-5">
                <p class="">
                    I am also passionate about data science and analysis, particularly in the realm of machine learning applications.
                    Much of my work focuses on machine learning,
                     where I delve into data science and analysis to develop intelligent applications.
                      I enjoy uncovering insights from data and employing algorithms to create impactful,
                       data-driven solutions.
                </p>
            </div>

            <div class="image-content  col-12 col-lg-2">
                <img class="rounded-3 img-fluid" src="{% static 'images/AI_m2.png' %}">
            </div>
        </div>
        
        <div class="line"></div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-5 p-5 university_section ">
        <div class="d-flex flex-row align-items-start">
        <div class="text-content text-start col-12 col-lg-8">
            <div class="d-flex flex-column">
                <div class="row">
                    <h2 class="faculty_glyphic_h2_title">I Am a King SAUD University Bachelor's Gradute</h2>
                </div>
                <div class="row">
                    <p>From College of Computer and Information Sciences
                        In Computer Science Department in Riyadh
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>


    
    <div class="d-flex flex-column justify-content-center align-items-center p-5  gap-5">
        <div class="d-flex flex-column justify-content-start align-items-start col-10">
            <h2 class="faculty_glyphic_h2_title mb-3">College Elective Courses Overview</h2>
            <h3 class="faculty_glyphic_h3_subtitle">
                At university, I focused on elective courses that aligned with my field interest.
            </h3>
        </div>

        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-baseline gap-5">
            <div class="text-content text-start col-12 col-lg-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle">Machine Learning CSC-462</h2>
                    <p class="">
                        I am also passionate about data science and analysis, particularly in the realm of machine learning applications.
                        Much of my work focuses on machine learning,
                         where I delve into data science and analysis to develop intelligent applications.
                          I enjoy uncovering insights from data and employing algorithms to create impactful,
                           data-driven solutions.
                    </p>
                </div>
            </div>

            <div class="text-content text-start col-12 col-lg-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle">Information Retrieval CSC-484</h2>
                    <p class="">
                        I took a course on information retrieval methods,
                         learning how to improve searches for specific items on a website,
                          related to LLMs. We explored different algorithms for indexing and searching,
                           and I conducted experiments to analyze the effectiveness of various retrieval techniques.
                            This course not only provided a theoretical foundation but also practical skills in optimizing search engines and understanding user behavior.
                    </p>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-baseline gap-5">
            <div class="text-content text-start col-12 col-lg-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle">Technical Project Management CSC-443</h2>
                    <p class="">
                        I studied technical project management, where I learned how to manage scope, time, and cost effectively. The course covered essential methodologies like Agile and Waterfall, and we applied these concepts in a group project. This experience allowed me to practice planning, executing, and monitoring projects, while also developing my leadership abilities. I gained insights into budget management and resource allocation, which are crucial for successful project delivery in technical environments.
                    </p>
                </div>
            </div>

            <div class="text-content text-start col-12 col-lg-5">
                <div class="col">
                    <h2 class="faculty_glyphic_h2_subtitle">Technical Project Management CSC-434</h2>
                    <p class="">
                        I took a course on information retrieval methods,
                         learning how to improve searches for specific items on a website,
                          related to LLMs. We explored different algorithms for indexing and searching,
                           and I conducted experiments to analyze the effectiveness of various retrieval techniques.
                            This course not only provided a theoretical foundation but also practical skills in optimizing search engines and understanding user behavior.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}